:root {
	--bgcolor: white;
	--htmlcolor: #222;
	--tcolor: #222;
	--bordcolor: #333;
	--formcolor: #efefef;
	--bbordcolor: #eaeaea;
	--bwidth: 1px;
	--hovercolor: #e0e0e0;
	--hoverwidth: 320px;
}

@media (prefers-color-scheme: dark){
    :root {
	--bgcolor: #222;
	--htmlcolor: #eee;
	--tcolor: #ccc;
	--bordcolor: gray;
	--formcolor: #2a2a2a;
	--bbordcolor: gray;
	--bwidth: 1px;
	--hovercolor: #3a3a3a;
    }
}

@media (max-width: 1000px){
    .global_grid {
    	grid-template-columns: repeat(1, minmax(250px,1fr));
    }
    .mod_grid{
        grid-template-columns: repeat(1, minmax(250px,1fr));
    }
}
@media (min-width: 1001px){
	.global_grid {
		grid-template-columns: repeat(2, minmax(250px,1fr));
    }
    .mod_grid{
        grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    }
    .wide{
	    grid-column: auto / span 2;
    }
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(64px,1fr));
	margin: 0 auto;
	max-width: 1420px;
	grid-gap: 5px;
}

.mod_wrapper {
	display: flexbox;
	margin: 0;
	max-width: 100%;
}

.global_grid {
	display: grid;
	margin: 8px;
	max-width: 100%;
	grid-gap: 20px;
}

.header {
	grid-column: 1/-1;
	max-width: 100%;
	margin-bottom: 5px;
}

html {
    background-color: var(--bgcolor);
    color: var(--htmlcolor);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12pt;
}

.currency {
    margin-bottom: -3pt;
    max-width: 100%;
    max-height: 15pt;
    display: inline; /* remove extra space below image */
}

.item {
	border: var(--bordcolor) 1px solid;
	border-radius: 1px;
	background-color: var(--formcolor);
	margin-right: auto
}

.icon {
	margin: 1px;
	max-width: 64px;
}

.screenshot {
    max-height: 720px;
    max-width: 100%
}

button {
	border: none;
    background-color: var(--formcolor);
    color: var(--htmlcolor);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover{
	background-color: var(--hovercolor)
}

h2 {
	text-align: center
}

a.name, a {
	color: var(--tcolor);
	text-decoration: none;
}

a.name:hover {
  text-decoration: underline;
}

.mono{
	border: var(--bordcolor) 1px solid;
	border-radius: 1px;
	background-color: var(--formcolor);
	padding-left: 10px;
	padding-right: 10px;
	font-family: monospace;
}

.error{
	text-align: center;
}

.header-fixed {
	background-color: var(--formcolor);
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	width: 100%;
	height: 80px;
	color: var(--htmlcolor);
	box-sizing: border-box;
	top:0px;
    position: sticky;
	-webkit-transition:top 0.3s;
	transition:top 0.3s;
}

.header-fixed .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

.header-fixed-placeholder{
	height: 80px;
	display: none;
}

.header-fixed .header-limiter h1 {
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-fixed .header-limiter a {
	color: var(--htmlcolor);
	text-decoration: none;
}

.header-fixed .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}

.header-fixed .header-limiter nav a{
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: var(--htmlcolor);
	opacity: 0.9;
}

.header-fixed .header-limiter nav a:hover{
	opacity: 1;
}

body.fixed .header-fixed {
	padding: 10px 40px;
	height: 50px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
}

body.fixed .header-fixed-placeholder {
	display: block;
}

body.fixed .header-fixed .header-limiter h1 {
	font-size: 24px;
	line-height: 30px;
}

body.fixed .header-fixed .header-limiter nav {
	line-height: 28px;
	font-size: 13px;
}

@media all and (max-width: 600px) {

	.header-fixed {
		padding: 20px 0;
		height: max-content;
	}

	.header-fixed .header-limiter h1 {
		float: none;
		margin: 0px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-fixed .header-limiter nav {
		line-height: 1.3;
		float:none;
	}

	.header-fixed .header-limiter nav a {
		font-size: 16px;
	}

	body.fixed .header-fixed {
		display: none;
	}

    :root{
	    --hoverwidth: 100%;
    }

}

body {
	margin: 0;
}

.tooltip {
    display: none;
    visibility: hidden;
    position: absolute;
    padding: 5px;
    max-width: var(--hoverwidth);
    background: var(--formcolor);
    z-index: 100;
    border: 1px solid var(--bordcolor);
}

.icon:hover+.tooltip{
	display:inline-block;
	visibility:visible;
}

.screenshot_hover{
    max-width: var(--hoverwidth);
}

.footer {
    position:static;
    bottom: 0;
    height: fit-content;
    background: var(--formcolor);
    padding: 5px 0 5px 0;
    width: 100%;
    margin-bottom: -100px;
}

.mod_grid{
	display: grid;
	margin: 0 auto;
	grid-gap: 5px;
	grid-auto-flow:dense;
	max-width: 1500px;
}

.tall{
	grid-row: auto / span 2;
}
