{% extends 'base.html' %}

{% block title %}API{% endblock %}

{% block meta %}
<meta name="description" content="Информация об API d2info"/>
<meta property="og:description" content="Информация об API d2info" />
<meta property="og:title" content="API d2info" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://d2info.happyv0dka.cloud/api" />
<meta property="og:image" content="https://bungie.net//common/destiny2_content/icons/30c6cc828d7753bcca72748ba2aa83d6.png" />
<link rel="icon" type="image/png" sizes="32x32" href="https://bungie.net//common/destiny2_content/icons/30c6cc828d7753bcca72748ba2aa83d6.png">
{% endblock %}

{% block content %}
{{ md }}
{% endblock %}