<!DOCTYPE html>
<html lang="{{global_items['lang']}}">
<title>{% block title %}{% endblock %}</title>
{% block locales %}{% endblock %}
<meta name="theme-color" content="#222222">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/static/style.css">
{% block scripts %}{% endblock %}
<meta charset="UTF8">
<meta property="og:image" content="/static/favicon.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
<link rel="manifest" href="/static/site.webmanifest">
{% block meta %}{% endblock %}

<header class="header-fixed">
    <div class="header-limiter">
		<h1><a href="/">d2info</a></h1>
		<nav>
            <a href="/daily">{{global_items['loc']['today']}}</a>
            <a href="/weekly">{{global_items['loc']['weekly']}}</a>
<!--			<a href="/eververse">Эверверс</a>-->
			<li class="dropdown">
				<a href="#" class="dropbtn">{{global_items['loc']['ev']}}</a>
				<div class="dropdown-content">
					<a class="drop" href="/eververse">{{global_items['loc']['evs']}}</a>
					<a class="drop" href="/evweekly">{{global_items['loc']['evweekly']}}</a>
				</div>
			</li>
			<li class="dropdown">
				<a href="#" class="dropbtn">Indeedstor</a>
				<div class="dropdown-content">
					<a class="drop" href="/indeedstor">{{global_items['loc']['bot_info']}}</a>
					<a class="drop" href="/bot_status">{{global_items['loc']['bot_status']}}</a>
				</div>
			</li>
		</nav>
	</div>
</header>
<div class="header-fixed-placeholder"></div>
{% block content %}{% endblock %}