{% extends 'hoverrotations.html' %}

{% block head %}
{% block title %}Сезонный Эверверс{% endblock %}

{% block meta %}
<meta name="description" content="Сезонный ассортимент Эверверс"/>
<meta property="og:description" content="Предметы, которые будут продаваться в этом сезоне у Тесс Эверис" />
<meta property="og:title" content="Сезонный Эверверс" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://d2info.happyv0dka.cloud/eververse" />
{% endblock %}
{% endblock %}