{% extends 'hoverrotations.html' %}

{% block head %}
{% block title %}{{global_items['loc']['evw_title']}}{% endblock %}

{% block meta %}
<meta name="description" content="{{global_items['loc']['seo_evwdesc']}}"/>
<meta property="og:description" content="{{global_items['loc']['seo_evwdescl']}}" />
<meta property="og:title" content="{{global_items['loc']['seo_evwtitle']}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://d2info.happyv0dka.cloud/evweekly" />
{% endblock %}
{% endblock %}