{% extends 'hoverrotations.html' %}

{% block head %}
{% block title %}На этой неделе в Эверверс{% endblock %}

{% block meta %}
<meta name="description" content="Еженедельный ассортимент Эверверс"/>
<meta property="og:description" content="Предметы, которые будут продаваться в этом сезоне у Тесс Эверис, распределенные по неделям" />
<meta property="og:title" content="Еженедельный Эверверс" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://d2info.happyv0dka.cloud/evweekly" />
{% endblock %}
{% endblock %}