<div class="global_item {{ global_item['size'] }}" style="{{ item_style }}">
    <h2>{{ global_item['name'] }}</h2>
    <div class="wrapper">
        {% for item in global_item['items'] %}
            <div class="item" id="{{item['id']}}">
                <img alt={{item['name']}}" class="icon" src="https://bungie.net/{{item['icon']}}" loading="lazy" width="64" height="64">
                <div class="tooltip" id="{{item['tooltip_id']}}" style="left: auto">
                    <a class="name" href="/item/?hash={{item['hash']}}"><b>{{item['name']}}</b></a><br>
                        {{item['screenshot']}}
                        {% for cost in item['costs'] %}
                            <img alt="{{cost['currency_name']}}" class="currency" src="https://bungie.net/{{cost['currency_icon']}}" loading="lazy">
                            <a>{{cost['cost']}}</a><br>
                        {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
