{% extends 'base.html' %}

{% block title %}d2info{% endblock %}

{% block meta %}
<meta name="description" content="Полезная информация о Destiny 2"/>
<meta property="og:description" content="Полезная информация о Destiny 2" />
<meta property="og:title" content="d2info" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://d2info.happyv0dka.cloud/" />
{% endblock %}

{% block content %}
<div class="content-center" style="max-width: 1200px">
    <h3>Добро пожаловать на d2info!</h3>
    <p>
        Главная страница <strike>скоро</strike> когда-нибудь будет.<br>
        Сайт чем-то дублирует функционал бота <a href="https://discord.com/oauth2/authorize?client_id=677145368894373965&permissions=395204623424&scope=bot%20applications.commands">Дустанатор</a>,
        однако дает более удобное представление для сезонного ассортимента Эверверс (как <a href="https://www.todayindestiny.com/eververse">Today in Destiny</a>, но на русском).
    </p>
</div>
{% endblock %}