{% extends 'base.html' %}

{% block title %}d2info{% endblock %}

{% block meta %}
<meta name="description" content="{{global_items['loc']['seo_indexdesc']}}"/>
<meta property="og:description" content="{{global_items['loc']['seo_indexdesc']}}" />
<meta property="og:title" content="d2info" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://d2info.happyv0dka.cloud/" />
{% endblock %}

{% block content %}
<div class="content-center" style="max-width: 1200px">
    <h1>{{global_items['loc']['index_h']}}</h1>
    <p>
        {{global_items['loc']['index_desc1']}} <a href="https://discord.com/oauth2/authorize?client_id=677145368894373965&permissions=395204623424&scope=bot%20applications.commands">{{global_items['loc']['index_bot']}}</a>,
        {{global_items['loc']['index_desc2']}}
    </p>
</div>
<h1 align="center" style="padding-top: 10px">{{global_items['loc']['index_pages']}}</h1>
<div class="mod_grid" style="max-width: 1200px">
    <div>
        <b><a href="/daily">{{global_items['loc']['index_dailyt']}}</a></b><br>
        <p>{{global_items['loc']['index_daily']}}</p>
    </div>
    <div>
        <b><a href="/weekly">{{global_items['loc']['index_weeklyt']}}</a></b><br>
        <p>{{global_items['loc']['index_weekly']}}</p>
    </div>
    <div>
        <b><a href="/evweekly">{{global_items['loc']['index_evt']}}</a></b><br>
        <p>{{global_items['loc']['index_ev']}}</p>
    </div>
    <div>
        <b><a href="/indeedstor">{{global_items['loc']['index_botit']}}</a></b><br>
        <p>{{global_items['loc']['index_boti']}}</p>
    </div>
</div>
{% endblock %}