{% extends 'base.html' %}

{% block title %}d2info{% endblock %}

{% block meta %}
<meta name="description" content="Полезная информация о Destiny 2"/>
<meta property="og:description" content="Полезная информация о Destiny 2" />
<meta property="og:title" content="d2info" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://d2info.happyv0dka.cloud/" />
{% endblock %}

{% block content %}
<h3>Добро пожаловать на d2info!</h3>
<p>Главная страница скоро будет.</p>
{% endblock %}