{% extends 'rotations.html' %}

{% block head %}
{% block title %}Статус постов бота{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
<script src="/static/d2info.js" defer></script>
{% endblock %}

{% block meta %}
<meta name="description" content="Информация о статусе бота Indeedstor"/>
<meta property="og:description" content="Информация о статусе бота Indeedstor" />
<meta property="og:title" content="Статус Indeedstor" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://d2info.happyv0dka.cloud/bot_status" />
{% endblock %}
{% endblock %}