{% extends 'rotations.html' %}

{% block head %}
{% block title %}{{global_items['loc']['status_title']}}{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
<script src="/static/d2info.js" defer></script>
{% endblock %}

{% block meta %}
<meta name="description" content="{{global_items['loc']['seo_statusdesc']}}"/>
<meta property="og:description" content="{{global_items['loc']['seo_statusdesc']}}" />
<meta property="og:title" content="{{global_items['loc']['seo_statustitle']}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://d2info.happyv0dka.cloud/bot_status" />
{% endblock %}
{% endblock %}