{% extends 'rotations.html' %}

{% block head %}
{% block title %}На этой неделе{% endblock %}

{% block meta %}
<meta name="description" content="Информация о еженедельном сбросе Destiny 2"/>
<meta property="og:description" content="Информация о еженедельном сбросе Destiny 2" />
<meta property="og:title" content="На этой неделе" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://d2info.happyv0dka.cloud/weekly" />
<meta property="og:image" content="https://bungie.net//common/destiny2_content/icons/30c6cc828d7753bcca72748ba2aa83d6.png" />
<link rel="icon" type="image/png" sizes="32x32" href="https://bungie.net//common/destiny2_content/icons/30c6cc828d7753bcca72748ba2aa83d6.png">
{% endblock %}
{% endblock %}